.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--winning-blocks);
    color: #45a049;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
}

.player-select-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: rgb(102, 53, 25);
    border: none;
    cursor: pointer;
}

.player-select-btn:hover {
    background-color: #45a049;
}
*{
    padding: 0;
    margin :0;
    box-sizing: border-box;
}

:root{
    --orange: #ee584e;
    --winning-blocks : #214e65;
    --win: #DAA520;
}
body{
    color: var(--orange);
    font-family: 'Finger Paint',cursive;
}
h1{
    font-size: 54px;
}
.container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--winning-blocks);
    height: 100vh;
}


.box {
    width: 125px;
    height: 125px;
    border: 1px solid #af844c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    color: var(--orange);
    cursor: pointer;

}

.box.X {
    background-color: red;
}

.box.O {
    background-color: blue;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #af844c;
    border-color:#af844c;
    font-size: 18px;
    transition: 200ms transform;
    font-weight:600 ;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
#playerText {
    font-size: 3em;
    margin-bottom: 1em;
}



#gameboard {
    margin-top: 1em;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

